<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Kelv Gooding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/first_place.png">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>SS | Something Went Wrong</title>
</head>
<body>
    <header>
    </header>
    <main>
        <br>
        <h1>OOPS!<br>SOMETHING WENT WRONG.<br>
        <br>
        <button><a id="show-picks" href="{{ url_for('index') }}">RETURN HOME</a></button>
        <br><br>
    </main>
    <footer>
        <!-- Social Media Links -->
        <section>
        <a href="https://livelifeautomate.co.uk" target="_blank"><img src="../static/images/web-logo.png" class="img-logo-social"/></a>
        <a href="https://instagram.com/kelvgooding" target="_blank"><img src="../static/images/instagram-logo.png" class="img-logo-social"/></a>
        <a href="https://www.linkedin.com/in/kelvingooding/" target="_blank"><img src="../static/images/linkedin-logo.png" class="img-logo-social"/></a>
        <a href="https://github.com/kelvgooding/" target="_blank"><img src="../static/images/github-logo.png" class="img-logo-social"/></a>
        <a href="mailto:kelvingooding@livelifeautomate.co.uk?subject=Grand National 2023 - Feedback"><img src="../static/images/mail-logo.png" class="img-logo-social"/></a>
        </section>
        <br>
        <!-- Copyright -->
        <section>
        <div>
            Created by Kelv Gooding<br>
            © 2023 Live.Life.Automate! All rights reserved.<br>
        </div>
        </section>
    </footer>
</body>
</html>