<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/images/first_place.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>SS | Group - {{ group_code }}</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            
            <a href="{{ url_for('index') }}"><img class="img-logo" src="../static/images/grand-national-2023-logo.png" /></a>
            
            <h2>DETAILS</h2>
            Date: Saturday 15th April 2023<br>
            Time: 17:15 GMT<br>
            Location: Aintree Racecourse<br>
            Channel: ITV1<br>

            <h2>GROUP CODE</h2>
            {{ group_code }}
            <br>

            <h2>GROUP HOST</h2>
            {{ group_host_name.0 }}
            <br>
            <hr>

            <h2>RULES</h2>

            <b>40</b> HORSES RUNNING<br>
            <b>{{ p_count.0 }}</b> SPACES AVAILABLE<br>
            <b>{{ hp }}</b> RANDOM PICK(S) PER PARTICIPANT<br>
            <b>£{{ PPE.0 }}.00</b> PER PARTICIPANT<br>

            <br>

            <button><a id="show-picks" href="{{ url_for('picks') }}">SHOW PICKS</a></button>
        
            <hr>


            <h2>PRIZE MONEY</h2>

            PLEASE CONTACT YOUR GROUP HOST<br>
            TO ARANGE A PAYMENT METHOD.<br><br>

            <table>
                <tr>
                    <td width="50px">
                        <img width="18" height="18" src="../static/images/money-bag.png"/>
                    </td>
                    <td width="100px">
                        £{{ jackpot.0 }}.00
                    </td>
                </tr>
                <tr>
                    <td width="50px">
                        <img width="18" height="18" src="../static/images/first_place.png"/>
                    </td>
                    <td width="100px">
                        £{{ first }}0
                    </td>
                </tr>
                <td>
                    <img width="18" height="18" src="../static/images/second_place.png"/>
                    </td>
                    <td width="5px">
                        £{{ second }}0
                    </td>
                <tr>
                    <td>
                        <img width="18" height="18" src="../static/images/third_place.png"/>
                    </td>
                    <td>
                        £{{ third }}0
                    </td>
                </tr>
            </table>

            <hr>
            <h2>PARTICIPANTS</h2>

            YOUR GROUP HOST WILL HAVE THE<br>
            ABILITY TO MODIFY PARTICIPANTS<br>
            AND GENERATE THE PICKS HERE:<br><br>
            <button><a href="{{ url_for('admin') }}">ADMIN</a></button><br>

            <br>

            {% if filled.0 == p_count.0 %}
                {{ filled.0 }}  /  {{ p_count.0 }} PARTICIPANTS
                <p><b>NO MORE SPACES AVAILABLE!</b></p>
            {% else %}
                {{ filled.0 }}  /  {{ p_count.0 }} PARTICIPANTS
                <br><br>
                <form method="POST">
                    <input type="text" placeholder="Enter your name to join" name="join-group" required>
                    <br><br>
                    <input type="submit" value="JOIN">
                </form>
                <br>
            {% endif %}

            <table>
                <tr>
                    <th width="125px">Status</th>
                    <th width="160px">Name</th>
                </tr>
                {% for row in participants2 %}
                <tr>                    
                    <td>{% if row.0 == 'Y' %}
                        <img width="15" height="15" src="../static/images/accept.png"/>
                        {% elif row.0 == 'N' %}
                        <img width="15" height="15" src="../static/images/remove.png"/>
                        {% endif %}
                    </td>
                    <td>{{ row.1 }}</td>
                </tr>
                {% endfor %}
            </table>

            <hr>

            <h2>RANKING</h2>

            THE TOP 3 HORSES WILL SHOW HERE<br>
            ONCE THE RACE IS COMPLETE AND<br>
            THE RESULTS ARE OFFICIAL.<br><br>

            {%if "1" not in all_horses.0.4|string %}
            <table>
                <tr>
                    <th width="50px">Rank</th>
                    <th width="200px">Horse</th>
                    <th width="50px">Odds</th>
                </tr>
                <tr>
                    <td>TBC</td>    
                    <td>TBC</td>
                    <td>TBC</td>
                </tr>
                <tr>
                    <td>TBC</td>    
                    <td>TBC</td>
                    <td>TBC</td>
                </tr>
                <tr>
                    <td>TBC</td>    
                    <td>TBC</td>
                    <td>TBC</td>
                </tr>
            </table>
            {% else %}
                <table>
                    <tr>
                        <th width="30px">Rank</th>
                        <th width="225px">Horse</th>
                        <th width="30px">Odds</th>
                    </tr>
                    {% for row in all_horses %}
                    <tr>
                        <td>{%if row.4 == 1%}
                            <img width="18" height="18" src="../static/images/first_place.png"/>
                            {% elif row.4 == 2 %}
                            <img width="18" height="18" src="../static/images/second_place.png"/>
                            {% elif row.4 == 3 %}
                            <img width="18" height="18" src="../static/images/third_place.png"/>
                            {% endif %}
                        </td>    
                        <td>({{ row.1 }}) {{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

            
            <br><br>

            <button><a id="show-picks" href="{{ url_for('index') }}">RETURN HOME</a></button>

            <br>

            <br><br>
        </main>
        <footer>
            <!-- Social Media Links -->

            <section>
                <a href="https://livelifeautomate.co.uk" target="_blank"><img src="../static/images/web-logo.png" class="img-logo-social"/></a>
                <a href="https://instagram.com/kelvgooding" target="_blank"><img src="../static/images/instagram-logo.png" class="img-logo-social"/></a>
                <a href="https://www.linkedin.com/in/kelvingooding/" target="_blank"><img src="../static/images/linkedin-logo.png" class="img-logo-social"/></a>
                <a href="https://github.com/kelvgooding/" target="_blank"><img src="../static/images/github-logo.png" class="img-logo-social"/></a>
                <a href="mailto:kelvingooding@livelifeautomate.co.uk?subject=Grand National 2023 - Feedback"><img src="../static/images/mail-logo.png" class="img-logo-social"/></a>
            </section>

            <!-- Copyright -->

            <section>
                <br>
                <div>
                    Created by Kelv Gooding<br>
                    © 2023 Live.Life.Automate! All rights reserved.<br>
            </section>
        </footer>
    </body>
</html>
